@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --nav-width: 16rem;
  --first-color: #4723D9;
  --first-color-light: #250994;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

.App {
  text-align: center;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}

.l-navbar, .u-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    padding: .5rem 0 2rem;
    background-image: linear-gradient( -45deg, var(--first-color), #6f0194 );
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav, .u-nav  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_list, .u-nav_list  {
    display: flex;
    flex-direction: column;
}

.nav_link, .u-nav_link {
    position: relative;
    padding: 0.5rem 1rem;
    height: 2.6rem;
    width: 17rem;
    color: #F7F6FB;
    font-size: 0.97rem;
    text-decoration: none;
    text-align: left;
    transition-delay: 0.5s;
    transition: 0.5s;
    overflow: hidden;
    visibility: visible;
    opacity: 0.7;
}

.nav_link:hover {
    opacity: 1;
}

.nav_name, .u-nav_name {
    padding-left: 0.5rem;
    overflow: hidden;
    color: white;
}

.nav_logo, .u-nav_logo {
    padding: 0.1rem 1rem;
    height: 1.5rem;
    width: 17rem;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    color: #F7F6FB;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.nav_logo-icon {
    transform: translateY(10%);
}

.nav_logo-name, .u-nav_logo-name {
    margin: auto;
    width: 16.5rem;
    padding-left: 0.5rem;
    color: #F7F6FB;
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
}

.u-navbar {
    top: -100%;
    width: 100%;
    height: auto;
    padding: 0.1rem 0.2rem;
    z-index: calc(var(--z-fixed) + 1);
}

.u-nav_list {
    padding: 0.3rem 0;
    transition-delay: 0.5s;
}

.u-nav_link {
    padding: 0.5rem 0.4rem;
    height: auto;
    width: 100%;
    font-size: 0.95rem;
    opacity: 1;
    animation: none;
}

.u-nav_logo {
    height: 1.7rem;
    width: 100%;
}

.u-nav_logo-icon {
    padding: 0.3rem 0;
    transform: translateX(-40%);
    text-align: left;
}

.u-nav_logo-name {
    width: 100%;
    margin: auto;
    padding: auto;
    padding-top: 0.15rem;
    font-size: 1.2rem;
    text-align: center;
}

.container {
    position: relative;
    top: 0;
    left: 3.7rem;
    width: calc(100% - 3.7rem);
}

@media (max-width: 900px) {
    .l-navbar {
        left: -17rem; 
    }
    .u-navbar {
        position: fixed;
        top: 0;
    }
    .container {
        top: 2.4rem;
        left: 0;
    }
}